dev tun
keepalive 10 60
persist-tun
persist-key
proto udp
cipher AES-256-CBC
ncp-ciphers AES-256-GCM:AES-128-GCM
auth SHA256
tls-client
client
resolv-retry infinite
{% if openvpn_auth_user_pass %}
auth-user-pass
{% endif %}
remote-cert-tls server
remote {{ openvpn_remote }}
{% if openvpn_comp_lzo %}
comp-lzo
{% endif %}

{% for route in openvpn_route %}
route {{ route }}
{% endfor %}

{% if openvpn_ca is defined %}
<ca>
{{ openvpn_ca }}
</ca>
{% endif %}

{% if openvpn_cert is defined %}
<cert>
{{ openvpn_cert }}
</cert>
{% endif %}

{% if openvpn_key is defined %}
<key>
{{ openvpn_key }}
</key>
{% endif %}

{% if openvpn_tlsauth is defined %}
<tls-auth>
{{ openvpn_tlsauth }}
</tls-auth>
key-direction 1
{% endif %}
