dev tun
persist-tun
persist-key
cipher AES-256-CBC
ncp-ciphers AES-256-GCM:AES-128-GCM
auth SHA256
tls-client
client
resolv-retry infinite
auth-user-pass
remote-cert-tls server
remote {{ openvpn_remote }}

{% for route in openvpn_route %}
route {{ route }}
{% endfor %}

{% if openvpn_ca is defined %}
<ca>
{{ openvpn_ca }}
</ca>
{% endif %}

{% if openvpn_cert is defined %}
<ca>
{{ openvpn_cert }}
</ca>
{% endif %}

{% if openvpn_key is defined %}
<key>
{{ openvpn_key }}
</key>
{% endif %}

{% if openvpn_tlsauth is defined %}
<tls-auth>
{{ openvpn_tlsauth }}
</tls-auth>
key-direction 1
{% endif %}
